html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 0;
    margin-top: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.menu-toggle{
    display: none;
}

header, footer {
    background-color: #003976;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'EB Garamond', serif;
}

.hamburger{
    display: none;
    cursor: pointer;
    font-size: 30px;
}

#Logo{
    height: auto;
    max-width: 100%;
    width: 125px;
}

#footerLogo{
    height: auto;
    max-width: 100%;
    width: 200px;
}

main{
    flex: 1;
    text-align: center;
}

/* Login Form */

#LoginForm{
    max-width: 100%;
    padding: 50px;
    width: 20%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 100px;
}

.login{
    margin-top: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button:hover{
    background-color: turquoise;
    cursor: pointer;
    max-width: 100%;
    display: inline-block;
    margin: 10px auto;
    padding: 2% 20%;
}

button{
    max-width: 100%;
    display: inline-block;
    margin: 10px auto;
    padding: 2% 20%;
}

.formTitle{
    text-align: center;
    margin-top: 50px;
}

Label{
    display: block;
    text-align: left;
}
