<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kent State | Airport</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='formatting.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h1>Kent State Airport</h1>
        <img src="{{ url_for('static', filename='images/LogoCircle.png') }}" alt="KSU Logo" id="Logo">

        <div class="search">
            <form action="#">
                <input id="search" type="text" placeholder=" Search..." name="search">
            </form>
        </div>
    </header>


    <main>

      <div class="container">
        <h2 class="dashboard-employee">Employee Dashboard</h2>
        <div class="welcome-section">
          <div class="employee-info">
            <br>
            <h3>Welcome Back</h3>
            <h1>Captain. Smith</h1>
          </div>
          <div class="status-box">
            <p>Flight Status: <span class="badge">Active</span></p>
            <br>
            <p>Availability: <span class="badge">Ready</span></p>
          </div>
          <div class="reporting-to">
            <p class="report-details">Reporting to:</p>
            <br>
            <ul>
              <li class="manager-details">Airport Manager</li>
              <li class="manager-name">David Poluga</li>
            </ul>
          </div>
        </div>
      </div>
      
          
          <div id="employee-box">
          </div>

        <div class="content-box">
          <table id="job-details-table">
            <tr>
              <td class="label">Title</td>
              <td class="value">Captain</td>
            </tr>
            <tr>
              <td class="label">First Name</td>
              <td class="value">John</td>
            </tr>
            <tr>
              <td class="label">Last Name</td>
              <td class="value">Smith</td>
            </tr>
            <tr>
              <td class="label">Flight Number</td>
              <td class="value">AA1234</td>
            </tr>
            <tr>
              <td class="label">Aircraft Type</td>
              <td class="value">Boeing 737-800</td>
            </tr>
            <tr>
              <td class="label">Departure Airport</td>
              <td class="value">Kent State University Regional Airport</td>
            </tr>
            <tr>
              <td class="label">Arrival Airport</td>
              <td class="value">John F. Kennedy International Airport</td>
            </tr>
            <tr>
              <td class="label">Scheduled Departure</td>
              <td class="value"> 13:30 (April 30th, 2025)</td>
            </tr>
            <tr>
              <td class="label">Scheduled Arrival</td>
              <td class="value"> 17:00 (April 30th, 2025)</td>
            </tr>
          </table>
        </div>
        
              
    </main>




    <footer>
        <img src="{{ url_for('static', filename='images/LogoFlat.png') }}" alt="footerLogo" id="footerLogo">
        <p>&copy; 2025 Kent State University - All rights reserved.</p>
    </footer>

    <script src="Functionality.js"></script>

</body>
</html>