
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kent State | Airport</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='formatting.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h1>Kent State Airport</h1>
        <img src="{{ url_for('static', filename='images/LogoCircle.png') }}" alt="KSU Logo" id="Logo">

        <div class="search">
            <form action="#">
                <input id="search" type="text" placeholder=" Search..." name="search">
            </form>
        </div>

        <nav id="navMenu" class="navlist">
            <a href="flights">Flights</a>
            <a href="Home">Home</a>
            <a href="support">Support</a>
        </nav>
    </header>


    <main>

        <div id="alert-box" class="hidden">
            <p>🚨 This is an emergency broadcast alert! 🚨</p>
        </div>

        <h1>Welcome to Kent State Airport</h1>

        <p class="about">
            We are located at 4020 Kent Rd, Stow, OH 44224 and have over 20 planes. We strive to put the customer experience first with comforable flights to you desired destination. 
        </p>

        <table>
            <tr>
                <td><img src="{{ url_for('static', filename='images/Figure1.png') }}"></td>
                <td><img src="{{ url_for('static', filename='images/Figure2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='images/Figure3.png') }}"></td>
            </tr>
        </table>
       
        
    </main>




    <footer>
        <img src="{{ url_for('static', filename='images/LogoFlat.png') }}" alt="footerLogo" id="footerLogo">
        <p>&copy; 2025 Kent State University - All rights reserved.</p>
    </footer>

</body>
</html>
